html {
  font-family: "Raleway", sans-serif;
}

section,
p {
  page-break-inside: avoid;
}

@page {
  size: A4;
  margin: 5mm;
  margin-top: 20mm;
}

@page :first {
  margin-top: 0mm;
}

@media print {
  html {
    font-size: 75%;
  }
}
